<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h3>Kính gửi Anh/Chị,<br/>
<span style="color:#0070C0">Dear Sirs/Madams,</span></h3>

<p>Có một yêu cầu lấy lại mật khẩu được gửi đến anh/chị với thông tin như sau:<br/>
Code: {{ code }} <br/>
Hạn sử dụng: Sau {{ timeout }} phút kể từ thời gian nhận email.</p>
<p style="color:red">Nếu người yêu cầu không phải là anh/chị. Vui lòng bỏ qua email này!</p>
</body>
